*{
    margin:0;
    padding:0;
}
body{
    background-color:whitesmoke;
}
button{
    margin-right:3px;
}
header{
    width:100%;
    background-color:cyan;
    padding-top:10px;
    padding-bottom:10px;
}
#box{
    width:600px;
    margin:auto;
    padding:10px;
    background-color:cyan;
    border:2px solid black;
    box-shadow: 10px 5px 5px black;
}
#slideshow-box{
    height:400px;
    width:600px;
    background-color:cyan;
    background-size:100% 100%;
}
#instructions{
    text-align:center;
}

/* borrowed CSS code source:https://getcssscan.com/css-buttons-examples */
.button-58 {
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 11px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 40px;
  outline: 0;
  padding: 0 3px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-58:focus {
  color: #171e29;
}

.button-58:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.button-58:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}
